<div class="container">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">Angular Study</a>
			<ul class="nav">
				<li class="active"><a href="#/">Home</a></li>
				<li class="active"><a href="#/users">Users</a></li>
			</ul>
			<ul class="nav pull-right">
				<li class="active"><a href="#">Welcome {{user.name}}</a></li>
			</ul>
		</div>
	</div>
	<div class="row"> 
		<div class="span9">
			<h3>Users</h3>
			<table class="table table-striped">
				<thead>
					<th>Name</th>
					<th>Age</th>
				</thead>
				<tbody>
					<tr ng-repeat="i in factory">
						<td>{{i.name}}</td>
						<td>{{i.age}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
